<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Income-and-Educational-Attainment" data-toc-modified-id="Income-and-Educational-Attainment-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Income and Educational Attainment</a></span><ul class="toc-item"><li><span><a href="#Basic-EDA" data-toc-modified-id="Basic-EDA-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Basic EDA</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Income and Educational Attainment

## Basic EDA

In [2]:
filename = 'all_income_demo_2.csv'
data = pd.read_csv(filename, index_col=0).reset_index(drop=True)

In [15]:
data.education.value_counts()

39    30355
43    25237
40    21258
44    11521
42     6607
41     5034
37     3937
36     3618
35     3146
34     2562
46     2291
45     1937
33     1505
38     1372
32      752
31      213
Name: education, dtype: int64

In [ ]:
#generate code maps for the education

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121345 entries, 0 to 121344
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   case_id         121345 non-null  int64
 1   education       121345 non-null  int64
 2   hispanic        121345 non-null  int64
 3   ethnicity       121345 non-null  int64
 4   age             121345 non-null  int64
 5   employed        121345 non-null  int64
 6   gender          121345 non-null  int64
 7   spouse_empl     121345 non-null  int64
 8   num_child       121345 non-null  int64
 9   full_part_wrk   121345 non-null  int64
 10  weekly_earn     121345 non-null  int64
 11  weights         121345 non-null  float64
 12  year            121345 non-null  int64
 13  income          121345 non-null  int64
 14  edu_text        121345 non-null  int64
 15  educaton_text   121345 non-null  object
 16  income_text     121345 non-null  object
 17  hispanic_text   121345 non-null  object
 18  gender_text     121345 non-null  object
 19  ethnicity_text  121345 non-null  object
 20  spouse_text     121345 non-null  object
 21  full_part_text  121345 non-null  object
dtypes: float64(1), int64(14), object(7)
memory usage: 20.4+ MB

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
data.groupby(['education']).describe()['income']

             count       mean       std  min   25%   50%   75%   max
education
31           213.0   6.417840  3.690766  1.0   3.0   6.0   9.0  16.0
32           752.0   6.412234  3.575737  1.0   3.0   6.0   9.0  16.0
33          1505.0   6.964784  3.478958  1.0   4.0   7.0   9.0  16.0
34          2562.0   7.630757  4.035120  1.0   4.0   7.0  11.0  16.0
35          3146.0   8.951685  4.345517  1.0   6.0   9.0  13.0  16.0
36          3618.0   9.003040  4.465546  1.0   5.0   9.0  13.0  16.0
37          3937.0   8.698501  4.406640  1.0   5.0   9.0  13.0  16.0
38          1372.0   8.299563  4.102256  1.0   5.0   8.0  11.0  16.0
39         30355.0   9.297809  3.890110  1.0   6.0  10.0  13.0  16.0
40         21258.0  10.238263  3.942775  1.0   7.0  11.0  13.0  16.0
41          5034.0  10.732420  3.702061  1.0   8.0  11.0  14.0  16.0
42          6607.0  10.999546  3.689775  1.0   9.0  12.0  14.0  16.0
43         25237.0  12.474779  3.354694  1.0  11.0  13.0  15.0  16.0
44         11521.0  13.271938  2.956969  1.0  12.0  14.0  15.0  16.0
45          1937.0  13.916366  3.129146  1.0  13.0  15.0  16.0  16.0
46          2291.0  13.882148  2.860526  1.0  13.0  15.0  16.0  16.0